html {
  scroll-behavior: smooth;
}

/* Цвета для темной темы */
.dark body {
    background-color: #0f0a1a;
    color: #f3f4f6;
}
.dark .bg-white {
    background-color: #1a1425 !important;
}
.dark nav {
    background-color: rgba(26, 20, 37, 0.9) !important;
    border-color: #2d243d;
}
.dark .text-dark-custom {
    color: #f3f4f6;
}
.dark .service-card {
    background-color: #211a2e;
    border-color: rgba(255,255,255,0.05);
}
.dark input, .dark textarea {
    background-color: #2d243d;
    color: white;
}

* { transition: background-color 0.3s ease, color 0.3s ease; }